@import '@/assets/styles/media.scss';

.buttonCircle {
	@apply relative flex items-center;

	padding: 0;
	width: 225px;
	height: 180px;
	white-space: break-spaces;

	@include m-1920 {
		width: 190px;
		height: 157px;
	}

	@include m-1680 {
		width: 180px;
		height: 150px;
	}

	@include m-1366 {
		width: 150px;
		height: 128px;
	}

	.text {
		@apply text-white text-18 items-center justify-center text-center flex;

		background-color: rgb(175, 167, 167);
		width: 180px;
		height: 180px;
		border-radius: 50%;
		font-weight: 500;
		line-height: 150%;
		letter-spacing: 0.02em;
		z-index: 3;
		transition: all 0.3s ease;

		@include m-1920 {
			font-size: 16px;
			width: 157px;
			height: 157px;
		}

		@include m-1680 {
			font-weight: 600;
			font-size: 15px;
			width: 150px;
			height: 150px;
		}

		@include m-1366 {
			font-size: 13px;
			width: 128px;
			height: 128px;
		}
	}
	&:enabled {
		&:hover {
			svg {
				transform: translateX(10px);
			}
		}
		.text {
			@apply bg-secondary;
		}

		.text:hover {
			cursor: pointer;
			box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.2);
		}
	}

	> svg {
		transition: transform 0.3s ease;
		position: absolute;
		right: -15%;
		top: 42%;

		@include m-1920 {
			width: 79px;
			height: 21px;
		}

		@include m-1680 {
			width: 75px;
			height: 20px;
		}

		@include m-1366 {
			width: 64px;
			height: 17px;
		}
	}
}
