@import '@/assets/styles/media.scss';

.card {
	width: 420px;
	height: 680px;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 3px 5px 15px rgba(148, 180, 159, 0.2);
	backdrop-filter: blur(10px);
	border-radius: 0 0 300px 300px;
	user-select: none;

	@include m-1920 {
		width: 366px;
		height: 595px;
	}

	@include m-1680 {
		width: 350px;
		height: 573px;
	}

	@include m-1366 {
		width: 298px;
		height: 493px;
	}

	@include m-360 {
		width: 280px;
	}

	.cardTextWrapper {
		@apply flex flex-col;

		gap: 30px;
		padding: 30px;

		@include m-1920 {
			gap: 26px;
			padding: 26px;
		}

		@include m-1680 {
			gap: 25px;
			padding: 25px;
		}

		@include m-1366 {
			gap: 21px;
			padding: 21px;
		}

		@include m-360 {
			padding: 12px;
		}

		> h2 {
			@apply text-text text-25;
			line-height: 150%;

			letter-spacing: 0.02em;

			@include m-1920 {
				font-size: 22px;
			}

			@include m-1680 {
				font-size: 21px;
			}

			@include m-1366 {
				font-size: 18px;
			}
		}

		> p {
			font-size: 18px;
			line-height: 150%;
			word-wrap: break-word;
			letter-spacing: 0.02em;

			@include m-1920 {
				font-size: 16px;
			}

			@include m-1680 {
				font-size: 15px;
			}
			@include m-1366 {
				font-size: 13px;
			}
		}
		> span {
			@apply text-secondary;

			font-size: 20px;
			line-height: 150%;

			letter-spacing: 0.02em;

			@include m-1920 {
				font-size: 17px;
			}

			@include m-1680 {
				font-size: 16px;
			}

			@include m-1366 {
				font-size: 14px;
			}
		}
	}
}
