@import '@/assets/styles/media.scss';

.closePopUp {
	@apply absolute flex justify-center items-center bg-white cursor-pointer;

	top: 24px;
	right: 24px;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	transition: all 0.2s ease-in;
	@include m-1920 {
		width: 57px;
		height: 57px;
	}

	&:hover {
		transform: scale(1.1);
	}
}
