@import '@/assets/styles/variables.scss';
@import '@/assets/styles/media.scss';

.certificatesWrapper {
	@apply relative overflow-x-hidden;

	.diplomasHeading {
		padding-top: $m1920Max + 91px;

		@include m-1920 {
			padding-top: $m1680Max + 84px;
		}

		@include m-1680 {
			padding-top: $m1600Max + 80px;
		}

		@include m-1366 {
			padding-top: $m1366Max + 69px;
		}

		@include m-360 {
			padding-top: $m360Max + 75px;
		}
	}

	.sliderWrapper {
		position: relative;
		max-width: 1352px;
		margin: 0 auto;
		padding-top: $m1920Mid;

		@include m-1920 {
			max-width: 1186px;
			padding-top: $m1680Mid;
		}

		@include m-1680 {
			max-width: 1130px;
			padding-top: $m1600Mid;
		}

		@include m-1366 {
			max-width: 958px;
			padding-top: $m1366Mid;
		}

		@media (max-width: 1050px) {
			max-width: 900px;
		}

		@include m-834 {
			max-width: 614px;
		}

		@include m-360 {
			max-width: 300px;
			padding-top: $m360Mid;
		}
	}

	.skillsAndImagesWrapper {
		padding-top: $m1920Max - 30px;
		display: grid;
		grid-template-columns: repeat(2, minmax(min-content, max-content));
		justify-content: space-between;

		@include m-1920 {
			padding-top: $m1680Max - 30px;
		}

		@include m-1680 {
			padding-top: $m1600Max - 30px;
		}

		@include m-1366 {
			padding-top: $m1366Max - 15px;
		}

		@include m-360 {
			display: flex;
			flex-direction: column-reverse;
			gap: $m360Max;
		}

		.imagesWrapper {
			@apply relative;

			display: grid;
			grid-template:
				't r' auto
				'b r' auto / 271px 311px;
			gap: 30px;

			@include m-1920 {
				grid-template:
					't r' auto
					'b r' auto / 237px 272px;
				gap: 26px;
			}

			@include m-1680 {
				grid-template:
					't r' auto
					'b r' auto / 226px 259px;
				gap: 34px 25px;
			}

			@include m-1366 {
				grid-template:
					't r' auto
					'b r' auto / 194px 221px;
				gap: 21px;
			}

			@include m-834 {
				grid-template: 'r' auto / 209px;
			}

			@include m-360 {
				grid-template:
					't r' 184px
					'b r' 282px / 144px 160px;
				gap: 12px;
			}

			.t {
				width: 100%;
				height: 100%;
				grid-area: t;
				border-radius: 510px 0 0 0;
				@include m-834 {
					display: none;
				}

				@include m-360 {
					display: block;
				}
			}

			.r {
				width: 100%;
				height: 100%;
				grid-area: r;
				border-radius: 0 510px 0 0;

				@include m-834 {
					border-radius: 0 363px 0 0;
				}
			}

			.b {
				width: 100%;
				height: 100%;
				grid-area: b;
				@include m-834 {
					display: none;
				}

				@include m-360 {
					display: block;
				}
			}

			.outline {
				@apply absolute;

				border: 1px solid #ecb390;
				width: 100%;
				height: 100%;
				border-radius: 510px 510px 0px 0px;
				bottom: 4%;
				right: 5%;

				@include m-834 {
					border-radius: 0 363px 0 0;
					bottom: -3%;
					right: 9%;
				}

				@include m-360 {
					border-radius: 262px 262px 0 0;
					bottom: 14px;
					right: 14px;
				}
			}
		}

		.skillsWrapper {
			@include m-834 {
				max-width: 430px;
			}

			.skills {
				@apply flex flex-col;

				margin-top: $m1920Mid;
				gap: 26px;

				@include m-1920 {
					margin-top: $m1680Mid;
					gap: 23px;
				}

				@include m-1680 {
					margin-top: $m1600Mid;
					gap: 22px;
				}

				@include m-1366 {
					margin-top: $m1366Mid;
					gap: 18px;
				}

				@include m-360 {
					margin-top: $m360Mid;
					gap: 20px;
				}

				.skill {
					@apply relative;
				}
			}
		}
		> a {
			margin-top: $m1920Mid;
			grid-column: 2/3;

			@include m-1920 {
				margin-top: $m1680Mid;
			}

			@include m-1680 {
				margin-top: $m1600Mid;
			}

			@include m-1366 {
				margin-top: $m1366Mid;
			}

			@include m-834 {
				grid-column: 1/2;
			}

			@include m-360 {
				display: none;
			}
		}
	}

	.linkContainer {
		display: none;

		@include m-360 {
			display: block;
			margin-top: $m360Max;
		}
	}
}

.popUp {
	.diplomaWrapper {
		position: relative;
		width: 882px;
		height: 622px;
		margin-top: 23px;

		@include m-1920 {
			width: 772px;
			height: 544px;
			margin-top: 19px;
		}

		@include m-1680 {
			width: 735px;
			height: 518px;
		}

		@include m-1366 {
			width: 628px;
			height: 443px;
			margin-top: 17px;
		}

		@include m-834 {
			width: 600px;
			height: 423px;
		}

		@include m-360 {
			width: 276px;
			height: 195px;
		}
	}
}

.num_1 {
	left: 80px;
	top: 10px;

	@include m-1920 {
		left: 70px;
	}

	@include m-1680 {
		left: 67px;
	}

	@include m-1366 {
		left: 57px;
	}

	@include m-360 {
		left: 84px;
	}
}
.num_2 {
	left: 363px;
	top: 10px;

	@include m-1920 {
		left: 318px;
	}

	@include m-1680 {
		left: 303px;
	}

	@include m-1366 {
		left: 259px;
	}

	@include m-360 {
		left: 181px;
	}
}

.num_3 {
	left: 129px;
	top: 10px;

	@include m-1920 {
		left: 113px;
	}

	@include m-1680 {
		left: 108px;
	}

	@include m-1366 {
		left: 92px;
	}

	@include m-360 {
		left: 12px;
	}
}

.num_4 {
	left: 441px;
	top: 12px;

	@include m-1920 {
		left: 386px;
	}

	@include m-1680 {
		left: 368px;
	}

	@include m-1366 {
		left: 314px;
	}

	@include m-360 {
		left: 220px;
	}
}

.num_5 {
	left: 175px;
	top: 10px;

	@include m-1920 {
		left: 153px;
	}

	@include m-1680 {
		left: 146px;
	}

	@include m-1366 {
		left: 124px;
	}

	@include m-360 {
		left: 87px;
	}
}

.ellipse_1 {
	background: $ellipseBgCream;
	top: 7%;
	right: 7%;
}

.ellipse_2 {
	background: $ellipseBgGreen;
	top: 30%;
	left: 30%;

	@include m-360 {
		top: 20%;
		left: -10%;
	}
}

.ellipse_3 {
	background: $ellipseBgCream;
	bottom: 2%;
	right: 2%;

	@include m-360 {
		bottom: 40%;
	}
}
