.input {
	position: relative;
	font-size: 19px;
	line-height: 150%;
	letter-spacing: 0.02em;
	p {
		position: absolute;
		color: #ff0009;
	}
	> input {
		@apply outline-border-none primary-gr text-dark;

		padding: 25px 30px;
		width: 552px;
		height: 29px;
		border-radius: 0 100px 100px 0;
		color: #8f3f09;
		font-size: 19px;
		line-height: 150%;
		letter-spacing: 0.02em;
	}
}
