@import '@/assets/styles/media.scss';
@import '@/assets/styles/variables.scss';

.helperForm {
	@apply flex;

	.inputsWrapper {
		@apply flex flex-col;
		width: 708px;
		gap: $m1920Min;
		padding: 90px 72px 72px;

		.headingMobile {
			display: none;
		}
		.buttonMobile {
			display: none;
		}

		@include m-1920 {
			width: 622px;
			gap: $m1680Min;
			padding: 79px 64px 64px;
		}

		@include m-1680 {
			gap: $m1600Min;
			width: 590px;
			padding: 74px 60px 60px;
		}

		@include m-1366 {
			gap: $m1366Min;
			width: 501px;
			padding: 63px 50px 50px;
		}

		@include m-834 {
			width: 422px;
		}

		@include m-360 {
			gap: $m360Min;
			width: 316px;
			padding: 56px 20px 20px;
			word-break: break-all;

			.buttonMobile {
				display: flex;
				margin-top: 30px;
			}
			.headingMobile {
				display: block;
				font-size: 21px;
			}
		}
	}
	.handlerWrapper {
		@apply flex flex-col justify-between primary-gr;
		border-radius: 0 0px 50px 0px;
		width: 414px;
		padding: 90px 72px;

		@include m-1920 {
			width: 364px;
			padding: 79px 64px;
		}

		@include m-1680 {
			width: 345px;
			padding: 75px 60px;
		}

		@include m-1366 {
			width: 292px;
			padding: 63px 50px;
		}

		@include m-360 {
			display: none;
		}

		> h2 {
			font-size: 30px;
			max-width: 225px;

			@include m-1920 {
				font-size: 26px;
				max-width: 225px;
			}

			@include m-1680 {
				font-size: 25px;
			}

			@include m-1366 {
				font-size: 21px;
			}
		}
	}
}
