@import '@/assets/styles/media.scss';

.label {
	@apply relative cursor-pointer;

	padding-left: 30px;
	font-size: 18px;
	line-height: 150%;
	letter-spacing: 0.02em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	@include m-1920 {
		font-size: 16px;
		padding-left: 27px;
	}

	@include m-1680 {
		font-size: 15px;
		padding-left: 25px;
	}

	@include m-1366 {
		font-size: 13px;
		padding-left: 20px;
	}

	.checkBox {
		@apply absolute flex justify-center items-center;

		top: 1px;
		left: 0;
		height: 24px;
		width: 24px;
		border-radius: 50%;
		border: 1px solid #44bb6d;

		> span {
			display: none;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: #44bb6d;
		}

		@include m-1920 {
			height: 21px;
			width: 21px;

			> span {
				width: 11px;
				height: 11px;
			}
		}

		@include m-1680 {
			height: 20px;
			width: 20px;

			> span {
				width: 10px;
				height: 10px;
			}
		}

		@include m-1366 {
			height: 17px;
			width: 17px;

			> span {
				width: 9px;
				height: 9px;
			}
		}
	}
	> input {
		@apply absolute cursor-pointer;

		opacity: 0;
		height: 0;
		width: 0;

		&:checked ~ .checkBox span {
			display: block;
		}
	}
}
