@import '@/assets/styles/media.scss';

.label {
	@apply relative cursor-pointer;

	padding-left: 30px;
	font-size: 18px;
	line-height: 150%;
	letter-spacing: 0.02em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	@include m-1920 {
		font-size: 16px;
	}

	.checkBox {
		@apply absolute flex justify-center items-center;

		top: 1px;
		left: 0;
		height: 24px;
		width: 24px;
		border-radius: 50%;
		border: 1px solid #44bb6d;
		> span {
			display: none;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: #44bb6d;
		}
	}
	> input {
		@apply absolute cursor-pointer;

		opacity: 0;
		height: 0;
		width: 0;

		&:checked ~ .checkBox span {
			display: block;
		}
	}
}
