@import '@/assets/styles/variables.scss';
@import '@/assets/styles/media.scss';

.p404_Wrapper {
	@apply relative overflow-hidden flex items-center;

	height: calc(100vh - 150px);
	padding-top: 91px;

	.contentWrapper {
		display: grid;
		grid-template-columns: minmax(min-content, 507px) minmax(
				min-content,
				530px
			);
		justify-content: space-between;

		@include m-1920 {
			grid-template-columns: minmax(min-content, 480px) minmax(
					min-content,
					483px
				);
		}

		.textWrapper {
			.descriptionWrapper {
				display: grid;
				grid-template-columns: minmax(min-content, max-content);
				margin-top: $m1920Mid;
				gap: 10px;
				@include m-1920 {
					margin-top: $m1680Mid;
					gap: 8px;
				}
				@include m-1680 {
					margin-top: $m1600Mid;
					gap: 7px;
				}
			}
		}
		.imageWrapper {
			padding: 40px 0;
			position: relative;

			> img {
				max-width: 530px;
				height: auto;
				@include m-1920 {
					max-width: 483px;
					height: auto;
				}
			}

			@include m-1920 {
				padding: 30px 0;
			}
		}

		.linkBlock {
			padding-top: $m1920Max;

			@include m-1920 {
				padding-top: $m1680Max;
			}

			@include m-1680 {
				padding-top: $m1600Max;
			}
		}
	}
}

.ellipse_1 {
	background: rgba(254, 245, 228, 0.35);
	bottom: 2%;
	left: -2%;
}
.ellipse_2 {
	background: rgba(68, 187, 109, 0.07);
	left: -5%;
	bottom: -10%;
}
