@import '@/assets/styles/variables.scss';
@import '@/assets/styles/media.scss';

.p404_Wrapper {
	@apply relative overflow-hidden;

	.contentWrapper {
		@apply flex;
		margin-top: 243px;
		@include m-1920 {
			margin-top: 231px;
		}
		@include m-1680 {
			margin-top: 235px;
		}

		justify-content: space-between;

		.textWrapper {
			.descriptionWrapper {
				display: grid;
				grid-template-columns: minmax(min-content, max-content);
				margin-top: $m1920Mid;
				gap: 10px;
				@include m-1920 {
					margin-top: $m1680Mid;
					gap: 8px;
				}
				@include m-1680 {
					margin-top: $m1600Mid;
					gap: 7px;
				}
			}
		}
		.imageWrapper {
			display: flex;
			align-items: center;
			align-self: start;
			position: relative;
			@include m-1920 {
				padding-top: 40px;
			}
			
			> img {
				max-width: 100%;
				height: auto;
				@include m-1920 {
					max-width: 313px;
				}
			}
			> p {
				font-family: 'mr_HamiltoneG';
				font-weight: 400;
				font-size: 720px;
				line-height: 150%;
				color: rgba(68, 187, 109, 0.3);
				position: absolute;
				z-index: -1;
				&:first-child {
					left: -15%;
				}
				&:last-child {
					right: -15%;
				}
				@include m-1920 {
					font-size: 630px;
				}
			}
		}
		.linkBlock {
			padding-top: $m1920Max;
			@include m-1920 {
				padding-top: $m1680Max;
			}
			@include m-1680 {
				padding-top: $m1600Max;
			}
		}
	}
}

.ellipse_1 {
	background: rgba(254, 245, 228, 0.35);
	bottom: 2%;
	left: -2%;
}
.ellipse_2 {
	background: rgba(68, 187, 109, 0.07);
	top: 20%;
	right: 12%;
}
