@import '@/assets/styles/variables.scss';
@import '@/assets/styles/media.scss';

.p404_Wrapper {
	@apply relative overflow-hidden flex items-center;

	height: 100vh;
	padding-top: 91px;

	@include m-1920 {
		padding-top: 84px;
	}

	@include m-1680 {
		padding-top: 80px;
	}

	@include m-1366 {
		padding-top: 69px;
	}

	.contentWrapper {
		display: grid;
		grid-template-columns: minmax(min-content, 515px) minmax(
				min-content,
				530px
			);
		justify-content: space-between;

		@include m-1920 {
			grid-template-columns: minmax(min-content, 480px) minmax(
					min-content,
					453px
				);
		}

		@include m-1680 {
			grid-template-columns: minmax(min-content, 450px) minmax(
					min-content,
					453px
				);
		}

		@include m-1366 {
			grid-template-columns: minmax(min-content, 370px) minmax(
					min-content,
					373px
				);
		}

		.textWrapper {
			.descriptionWrapper {
				display: grid;
				grid-template-columns: minmax(min-content, max-content);
				margin-top: $m1920Mid;
				gap: 10px;
				@include m-1920 {
					margin-top: $m1680Mid;
					gap: 8px;
				}
				@include m-1680 {
					margin-top: $m1600Mid;
					gap: 7px;
				}
			}
		}
		.imageWrapper {
			padding: 40px 0;
			position: relative;

			> img {
				max-width: 530px;
				height: auto;
				@include m-1920 {
					max-width: 483px;
				}

				@include m-1680 {
					max-width: 453px;
				}

				@include m-1366 {
					max-width: 373px;
				}
			}
		}

		.linkBlock {
			padding-top: $m1920Max;

			@include m-1920 {
				padding-top: $m1680Max;
			}

			@include m-1680 {
				padding-top: $m1600Max;
			}

			@include m-1366 {
				padding-top: $m1366Max;
			}
		}
	}
}

.ellipse_1 {
	background: rgba(254, 245, 228, 0.35);
	bottom: 2%;
	left: -2%;
}
.ellipse_2 {
	background: rgba(68, 187, 109, 0.07);
	left: -5%;
	bottom: -10%;
}
