.preparedSolutionsWrapper {
	@apply prepared-gr overflow-hidden relative;

	.readyMadeWrapper {
		@apply flex flex-col;

		padding-top: 108px;
		gap: 72px;

		.descriptionWrapper {
			@apply flex justify-between;

			.descLeft {
				@apply flex flex-col justify-between;

				height: 231px;
			}
			.descRight {
				@apply flex flex-col justify-between;

				height: 231px;
			}
		}
	}

	.constructorMenuWrapper {
		@apply flex flex-row-reverse relative;

		width: 1630px;

		.constructorImageWrapper {
			> img {
				border-radius: 0 50% 50% 0;
				position: absolute;
				left: 0;
			}

			.outline {
				border-radius: 0 50% 50% 0;
				border: 1px solid #ecb390;
				width: 852px;
				height: 788px;
				position: absolute;
				top: -30px;
				left: -30px;
			}
		}

		.constructorTextWrapper {
			> h2 {
				width: 600px;
			}

			.constructorDescriptionWrapper {
				@apply flex flex-col gap-5 mt-72;
			}
		}
	}

	.constructorBottomWrapper {
		@apply flex justify-between;

		.leftBlock {
			@apply flex flex-col;

			gap: 10px;

			> div {
				white-space: normal;
			}
		}
		.rightBlock {
			@apply flex flex-col;

			gap: 10px;

			> div {
				white-space: normal;
			}
		}
	}

	.sliderWrapper {
		position: relative;
		margin-top: 52px;
	}

	.actionButton {
		margin-top: 108px;
	}
	.popup {
		> div {
			padding: 0;
		}
	}
}

.leaf_1 {
	transform: rotate(-91.67deg);
	top: -90px;
	right: -420px;
	z-index: 0;
}

.leaf_2 {
	transform: rotate(-118.54deg);
	bottom: 140px;
	right: -530px;
	z-index: 0;
}
