@import '@/assets/styles/variables.scss';
@import '@/assets/styles/media.scss';

.preparedSolutionsWrapper {
	@apply prepared-gr overflow-hidden relative;

	.readyMadeWrapper {
		@apply flex flex-col;

		padding-top: $m1920Max;
		gap: $m1920Mid;

		@include m-1920 {
			padding-top: $m1680Max;
			gap: $m1680Mid;
		}

		@include m-1680 {
			padding-top: $m1600Max;
			gap: $m1600Mid;
		}

		@include m-1366 {
			padding-top: $m1366Max;
			gap: $m1366Mid;
		}
		@include m-360 {
			padding-top: $m360Max;
			gap: $m360Mid;
		}

		.descriptionWrapper {
			@apply flex justify-between;

			@include m-834 {
				flex-direction: column;
				gap: 12px;
			}
		}
	}

	.constructorMenuWrapper {
		display: grid;
		grid-template-columns: repeat(2, minmax(min-content, max-content));
		justify-content: space-between;

		@include m-360 {
			grid-template-columns: 1fr;
			grid-template-rows: 200px max-content;
			gap: $m360Max 0;
		}

		.constructorImageWrapper {
			@apply relative;

			display: grid;
			grid-template-columns: 612px;
			grid-template-rows: auto;

			@include m-1920 {
				grid-template-columns: 535px;
			}

			@include m-1680 {
				grid-template-columns: 510px;
			}

			@include m-1366 {
				grid-template-columns: 436px;
			}

			@include m-834 {
				grid-template-columns: 209px;
			}

			> img {
				border-radius: 480px 480px 0 0;

				@include m-834 {
					border-radius: 0px 342px 0 0;
				}

				@include m-360 {
					border-radius: 0 360px 360px 0;
				}
			}

			.outline {
				border-radius: 480px 480px 0 0;
				border: 1px solid #ecb390;
				width: 100%;
				height: 100%;
				position: absolute;
				bottom: 4%;
				right: 5%;

				@include m-834 {
					border-radius: 0px 342px 0 0;
					right: 8%;
					bottom: -3%;
				}

				@include m-360 {
					border-radius: 0 360px 360px 0;
					right: 12px;
					bottom: 12px;
				}
			}
		}

		.constructorTextWrapper {
			max-width: 612px;

			@include m-1920 {
				max-width: 535px;
			}

			@include m-1680 {
				max-width: 510px;
			}

			@include m-1366 {
				max-width: 436px;
			}

			@include m-834 {
				max-width: 430px;
			}

			@include m-360 {
				max-width: 316px;
				> h2 {
					white-space: inherit;
				}
			}

			.constructorDescriptionWrapper {
				@apply flex flex-col  mt-72;

				@include m-1920 {
					margin-top: $m1680Mid;
				}

				@include m-1680 {
					margin-top: $m1600Mid;
				}

				@include m-1366 {
					margin-top: $m1366Mid;
				}

				@include m-360 {
					margin-top: $m360Mid;
				}
			}
		}
	}

	.constructorBottomImgWrapper {
		display: none;

		@include m-360 {
			position: relative;
			display: block;
			width: 316px;
			height: 200px;

			> div {
				position: absolute;
				border-radius: 360px 0 0 360px;
				bottom: 12px;
				left: 12px;
				width: 100%;
				height: 100%;
				border: 1px solid #ecb390;
			}
		}
	}

	.constructorBottomWrapper {
		@apply flex justify-between;

		@include m-834 {
			flex-direction: column;
		}

		.leftBlock {
			> div {
				white-space: normal;
			}
		}

		.rightBlock {
			> div {
				white-space: normal;
			}
		}

		@include m-360 {
			margin-top: $m360Max;
		}
	}

	.sliderHeading {
		@include m-360 {
			max-width: 300px;
		}
	}

	.sliderWrapper {
		position: relative;
		padding-top: $m1920Mid;
		width: 100%;
		max-width: 1352px;
		margin: 0 auto;

		@include m-1920 {
			max-width: 1180px;
			padding-top: $m1680Mid;
		}

		@include m-1680 {
			max-width: 1130px;
			padding-top: $m1600Mid;
		}

		@include m-1366 {
			max-width: 958px;
			padding-top: $m1366Mid;
		}

		@media (max-width: 1050px) {
			max-width: 900px;
		}

		@include m-834 {
			max-width: 614px;
		}

		@include m-360 {
			max-width: 300px;
			padding-top: $m360Mid;
		}
	}

	.actionButton {
		margin-top: $m1920Max - 30px;

		@include m-1920 {
			margin-top: $m1680Max - 30px;
		}

		@include m-1680 {
			margin-top: $m1600Max - 30px;
		}

		@include m-1366 {
			margin-top: $m1366Max - 15px;
		}

		> button {
			@apply outline-border-none uppercase underline  text-secondary text-32 transition-transform cursor-pointer;
			line-height: 150%;
			padding: 0;
			letter-spacing: 0.02em;
			text-align: left;
			text-underline-position: under;

			@include m-1920 {
				font-size: 28px;
			}

			@include m-1680 {
				font-size: 26px;
			}

			@include m-1366 {
				font-size: 23px;
			}

			&:hover {
				@apply link-animation;
			}
		}
	}
	.popup {
		> div {
			padding: 0;
		}

		@include m-360 {
			> div {
				> button {
					@apply bg-primary;
				}
			}
		}
	}
}

.leaf_1 {
	transform: rotate(-91.67deg);
	top: -3%;
	right: -24%;
	z-index: 0;

	@include m-834 {
		right: -35%;
	}

	@include m-360 {
		top: 0;
		right: -62%;
	}
}

.leaf_2 {
	transform: rotate(-118.54deg);
	bottom: 9%;
	right: -25%;
	z-index: 0;

	@include m-834 {
		right: -40%;
		bottom: 27%;
	}

	@include m-360 {
		right: -48%;
	}
}
