@import '@/assets/styles/media.scss';
@import '@/assets/styles/variables.scss';

.consultsAndRatesWrapper {
	@apply overflow-x-hidden;

	.contentWrapper {
		@apply flex;

		gap: 50px;
		padding-top: $m1920Max;

		@include m-1920 {
			padding-top: $m1680Max;
			gap: 44px;
		}

		@include m-1680 {
			padding-top: $m1600Max;
		}

		.consultsTextWrapper {
			@apply flex flex-col;

			gap: $m1920Mid;
			max-width: 408px;

			@include m-1920 {
				gap: $m1680Mid;
			}

			@include m-1680 {
				gap: $m1600Mid;
			}

			.descriptionWrapper {
				@apply flex flex-col;

				gap: 10px;

				> div {
					min-width: 408px;

					@include m-1920 {
						min-width: 357px;
					}
				}
			}
		}

		.sliderWrapper {
			position: relative;
			width: 1332px;
			height: 100%;

			@include m-1920 {
				width: 1166px;
			}

			@include m-1680 {
				gap: 1110px;
			}
		}
	}
}
