@import '@/assets/styles/media.scss';
@import '@/assets/styles/variables.scss';

.consultsAndRatesWrapper {
	@apply overflow-x-hidden;

	.contentWrapper {
		@apply flex;

		gap: 50px;
		padding-top: $m1920Max;

		@include m-1920 {
			gap: 44px;
			padding-top: $m1680Max;
		}

		@include m-1680 {
			gap: 42px;
			padding-top: $m1600Max;
		}

		@include m-1366 {
			gap: 36px;
			padding-top: $m1366Max;
		}

		.consultsTextWrapper {
			@apply flex flex-col justify-between;

			min-width: 408px;

			@include m-1920 {
				min-width: 357px;
			}

			@include m-1680 {
				min-width: 340px;
			}

			@include m-1366 {
				min-width: 285px;
			}

			.descriptionWrapper {
				@include m-1366 {
					> div {
						font-size: 11px;
					}
				}
			}
		}

		.sliderWrapper {
			position: relative;
			width: 1332px;

			> div {
				padding-bottom: 0;
			}

			@include m-1920 {
				width: 1165px;
			}

			@include m-1680 {
				width: 1110px;
			}

			@include m-1366 {
				width: 948px;
			}
		}
	}
}
