@import '@/assets/styles/media.scss';

.card {
	@apply flex flex-col justify-between relative;

	width: 396px;
	height: 564px;
	background-color: #fff;
	filter: drop-shadow(3px 5px 8px rgba(148, 180, 159, 0.2));
	user-select: none;
	transition: transform 0.3s ease-in-out;

	@include m-1920 {
		width: 346px;
		height: 493px;
	}

	@include m-1680 {
		width: 330px;
		height: 470px;
	}

	@include m-1366 {
		width: 282px;
		height: 404px;

		filter: drop-shadow(3px 5px 3px rgba(148, 180, 159, 0.2));
	}

	&:hover {
		transform: translateY(-10px);
		cursor: pointer;
		.arrowButton {
			transform: scale(1.1);
		}
	}

	p {
		@apply p-30 text-18 text-secondary text-left;

		line-height: 150%;
		letter-spacing: 0.02em;
		white-space: pre-line;

		@include m-1920 {
			font-size: 16px;
		}

		@include m-1680 {
			font-size: 15px;
		}

		@include m-1366 {
			font-size: 13px;
		}
	}

	.imageWrapper {
		height: 396px;

		position: relative;

		@include m-1920 {
			height: 346px;
		}

		@include m-1680 {
			height: 330px;
		}

		@include m-1366 {
			height: 282px;
		}

		> img {
			border-radius: 0 100% 0 0;
		}
	}

	.arrowButton {
		@apply flex items-center justify-center cursor-pointer;

		bottom: 4%;
		left: 6%;
		width: 120px;
		height: 120px;
		position: absolute;
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.25);
		backdrop-filter: blur(10px);
		transition: transform 0.3s ease-in-out;

		@include m-1920 {
			width: 105px;
			height: 105px;

			> svg {
				width: 42px;
				height: 42px;
			}
		}

		@include m-1680 {
			width: 100px;
			height: 100px;

			> svg {
				width: 40px;
				height: 40px;
			}
		}

		@include m-1366 {
			width: 85px;
			height: 85px;

			> svg {
				width: 34px;
				height: 34px;
			}
		}
	}
}
