@import '@/assets/styles/media.scss';

.actionButton {
	@apply outline-border-none uppercase   text-secondary text-32 transition-transform cursor-pointer;
	position: relative;
	line-height: 150%;
	padding: 0;
	letter-spacing: 0.02em;

	@include m-1920 {
		font-size: 28px;
	}

	@include m-1680 {
		font-size: 26px;
	}

	@include m-1366 {
		font-size: 23px;
	}

	&:hover {
		@apply link-animation;
	}
	&:after {
		content: '';

		width: 100%;
		position: absolute;
		left: 0;
		bottom: 7px;

		border-width: 0 0 2px;
		border-style: solid;

		@include m-1920 {
			bottom: 6px;
		}

		@include m-1680 {
			bottom: 5px;
		}

		@include m-1366 {
			bottom: 3px;
		}
	}
}
