.actionButton {
	@apply outline-border-none uppercase   text-secondary text-32 transition-transform cursor-pointer;
	position: relative;
	line-height: 150%;
	padding: 0;
	letter-spacing: 0.02em;
	&:hover {
		@apply link-animation;
	}
	&:after {
		content: '';

		width: 100%;
		position: absolute;
		left: 0;
		bottom: 7px;

		border-width: 0 0 2px;
		border-style: solid;
	}
}
