@import '@/assets/styles/media.scss';
@import '@/assets/styles/variables.scss';

.reviews {
	@apply overflow-hidden relative;

	.heading {
		padding-top: $m1920Max + 91px;

		@include m-1920 {
			padding-top: $m1680Max + 84px;
		}

		@include m-1680 {
			padding-top: $m1600Max + 80px;
		}

		@include m-1366 {
			padding-top: $m1366Max + 69px;
		}
	}

	.sliderSection {
		position: relative;
		padding-top: $m1920Mid;
		width: 100%;
		max-width: 1352px;
		margin: 0 auto;

		@include m-1920 {
			max-width: 1186px;
			padding-top: $m1680Mid;
		}

		@include m-1680 {
			max-width: 1130px;
			padding-top: $m1600Mid;
		}

		@include m-1366 {
			max-width: 958px;
			padding-top: $m1366Mid;
		}
	}

	.links {
		@apply flex justify-between;

		padding-top: $m1920Mid - 30px;

		@include m-1920 {
			padding-top: $m1680Mid - 30px;
		}

		@include m-1680 {
			padding-top: $m1600Mid - 30px;
		}

		@include m-1366 {
			padding-top: $m1366Mid - 15px;
		}
	}
}

.ellipse_1 {
	background: $ellipseBgCream;
	bottom: 2%;
	left: 1%;
}
.ellipse_2 {
	background: $ellipseBgGreen;
	right: 1.5%;
	top: 15%;
}
