@import '@/assets/styles/media.scss';
@import '@/assets/styles/variables.scss';

.reviews {
	@apply overflow-hidden relative;

	.heading {
		padding-top: 199px;

		@include m-1920 {
			padding-top: 187px;
		}
		@include m-1680 {
			padding-top: 181px;
		}
	}

	.sliderSection {
		position: relative;
		padding-top: $m1920Mid;
		width: 100%;
		max-width: 1352px;
		margin: 0 auto;
		@include m-1920 {
			max-width: 1186px;
			padding-top: $m1680Mid;
		}
		@include m-1680 {
			max-width: 1130px;
			padding-top: $m1600Mid;
		}
	}

	.links {
		@apply flex justify-between;
	}
}

.ellipse_1 {
	background: rgba(254, 245, 228, 0.35);
	bottom: 2%;
	left: 1%;
}
.ellipse_2 {
	background: rgba(68, 187, 109, 0.07);
	right: 1.5%;
	top: 15%;
}
