.reviews {
	@apply overflow-hidden relative;

	padding-top: 108px;
	.heading {
		margin-top: 108px;
	}

	.sliderSection {
		.sliderWrapper {
			position: relative;

			width: 100%;
			max-width: 1352px;
			margin: 0 auto;
		}
	}

	.links {
		@apply flex justify-between;
	}
}

.ellipse_1 {
	left: 41px;
	bottom: 64px;
	background: rgba(254, 245, 228, 0.35);
}
.ellipse_2 {
	right: 72px;
	top: 143px;
	background: rgba(68, 187, 109, 0.07);
}

.leaf_1 {
	transform: matrix(-0.62, 0.78, 0.78, 0.62, 0, 0);
	bottom: -345px;
	right: -260px;
}
