@import '@/assets/styles/media.scss';

.leaf {
	@apply absolute -z-1;
	width: 864px;
	height: 970px;

	@include m-1920 {
		width: 756px;
		height: 848px;
	}

	@include m-1680 {
		width: 720px;
		height: 808px;
	}
}
