@import '@/assets/styles/media.scss';

.leaf {
	@apply absolute -z-1;
	width: 864px;
	height: 970px;
	user-select: none;

	@include m-1920 {
		width: 756px;
		height: 848px;
	}

	@include m-1680 {
		width: 720px;
		height: 808px;
	}

	@include m-1366 {
		width: 615px;
		height: 690px;
	}

	@include m-834 {
		width: 530px;
		height: 595px;
	}
}
