@import '@/assets/styles/media.scss';
@import '@/assets/styles/mixins.scss';

.footer {
	@apply bg-secondary w-full;

	.container {
		@apply flex items-center justify-between;

		padding: 51px 0;

		@include m-1920 {
			padding: 45px 0;
		}

		@include m-1680 {
			padding: 43px 0;
		}

		@include m-1366 {
			padding: 35px 0;
		}

		p {
			@apply text-white font-semibold;

			font-size: 20px;
			line-height: 150%;
			letter-spacing: 0.05em;

			@include m-1920 {
				font-size: 18px;
			}

			@include m-1680 {
				font-size: 16px;
			}

			@include m-1366 {
				font-size: 14px;
			}
		}

		button {
			@apply cursor-pointer transition-transform;

			> svg {
				width: 48px;
				height: 72px;
			}

			&:hover {
				@apply link-animation;
			}

			@include m-1920 {
				> svg {
					width: 43px;
					height: 62px;
				}
			}

			@include m-1680 {
				> svg {
					width: 40px;
					height: 59px;
				}
			}
			@include m-1366 {
				> svg {
					width: 34px;
					height: 50px;
				}
			}
		}
	}
}
