@import '@/assets/styles/media.scss';
@import '@/assets/styles/variables.scss';

.leaveReview {
	@apply flex flex-col;

	gap: $m1920Min;
	width: 860px;

	@include m-1920 {
		width: 753px;
		gap: $m1680Min;
	}

	@include m-1680 {
		width: 717px;
		gap: $m1600Min;
	}

	@include m-1366 {
		width: 612px;
		gap: $m1366Min;
	}

	@include m-834 {
		width: 520px;
	}

	> h2 {
		font-size: 30px;

		@include m-1920 {
			font-size: 26px;
		}

		@include m-1680 {
			font-size: 25px;
		}

		@include m-1366 {
			font-size: 21px;
		}
	}
}
