@import '@/assets/styles/media.scss';

.leaveReview {
	@apply flex flex-col;

	gap: 36px;
	width: 860px;

	@include m-1920 {
		width: 753px;
		gap: 32px;
	}

	@include m-1680 {
		width: 717px;
		gap: 30px;
	}

	> h2 {
		font-size: 30px;

		@include m-1920 {
			font-size: 26px;
		}

		@include m-1680 {
			font-size: 25px;
		}
	}
}
