.detailedPrices {
	position: relative;
	overflow-x: hidden;

	.packageBlock {
		@apply flex flex-col mt-108;
		.wrapperDescription {
			@apply flex flex-row;
			.description {
				@apply flex flex-col mb-72;
				gap: 72px;
				width: 612px;
			}
		}
		.table {
			.heading {
				@apply flex  items-center primary-gr;
				text-align: center;
				height: 140px;
				> h5 {
					width: 504px;
				}
				> div {
					width: 414px;
					> h5:nth-child(even) {
						@apply text-secondary;
					}
				}
			}
			.rowWrapper {
				.row {
					&:nth-child(even) {
						@apply primary-gr;
					}
					@apply flex  items-center;
					height: 96px;
					> div:first-child {
						width: 504px;
						padding-left: 30px;
					}

					p {
						width: 414px;
						text-align: center;
					}
				}
			}
		}
	}
	.packageWrapper {
		.packageBlock {
			&:nth-child(even) {
				.wrapperDescription {
					@apply flex flex-row-reverse;
				}
			}
		}
	}

	.remark {
		@apply mt-72;
	}
	.link {
		@apply mt-108;
	}
}

.leaf_1 {
	transform: rotate(-126.55deg);
	top: -115px;
	right: -340px;
}
.leaf_2 {
	left: -200px;
	top: 865px;
	transform: matrix(-0.02, -1, -1, 0.02, 0, 0);
}
.leaf_3 {
	right: -220px;
	top: 1770px;
	transform: rotate(-61.51deg);
}
.leaf_4 {
	bottom: 420px;
	left: -260px;
	transform: rotate(118.49deg);
}
.ellipse_1 {
	top: 322px;
	left: 44px;
	background: rgba(68, 187, 109, 0.07);
}
.ellipse_2 {
	left: 1171px;
	top: 680px;

	background: rgba(254, 245, 228, 0.35);
}
.ellipse_3 {
	left: 695px;
	top: 1872px;
	background: rgba(68, 187, 109, 0.07);
}
.ellipse_4 {
	left: -221px;
	top: 2231px;
	background: rgba(254, 245, 228, 0.35);
}
.ellipse_5 {
	left: 1520px;
	top: 3120px;
	background: rgba(68, 187, 109, 0.07);
}
