.textArea {
	position: relative;
	font-size: 19px;
	line-height: 150%;
	letter-spacing: 0.02em;
	box-sizing: border-box;
	width: 100%;
	p {
		position: absolute;
		color: #e30b13;
	}
	> textarea {
		@apply outline-border-none primary-gr text-dark;

		padding: 24px 30px;
		width: 100%;
		height: 251px;
		font-size: 19px;
		line-height: 150%;
		letter-spacing: 0.02em;
		resize: none;
	}
}
