@import '@/assets/styles/media.scss';

.textArea {
	position: relative;
	font-size: 19px;
	line-height: 150%;
	letter-spacing: 0.02em;
	width: 100%;
	@include m-1920 {
		font-size: 17px;
	}

	@include m-1680 {
		font-size: 16px;
	}

	@include m-1366 {
		font-size: 14px;
	}

	p {
		position: absolute;
		color: #e30b13;
	}
	> textarea {
		@apply outline-border-none primary-gr text-dark;

		padding: 24px 30px;
		width: 100%;
		height: 237px;
		line-height: 150%;
		letter-spacing: 0.02em;
		font-size: inherit;
		resize: none;

		&:focus {
			box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.2/4);
		}

		@include m-1920 {
			padding: 22px 26px;
			height: 207px;
		}

		@include m-1920 {
			padding: 21px 25px;
			height: 197px;
		}

		@include m-1366 {
			padding: 18px 21px;
			height: 169px;
		}

		@include m-834 {
			height: 204px;
		}
	}
}
