.input {
	position: relative;
	font-size: 19px;
	line-height: 150%;
	letter-spacing: 0.02em;
	box-sizing: border-box;
	width: 100%;
	p {
		position: absolute;
		color: #ff0009;
	}
	> input {
		@apply outline-border-none primary-gr text-dark;

		padding: 25px 30px;
		width: 100%;
		height: 79px;
		border-radius: 0 100px 100px 0;
		font-size: 19px;
		line-height: 150%;
		letter-spacing: 0.02em;
	}
}
