.buttonCircle {
	@apply relative flex items-center;

	width: 225px;
	height: 180px;

	.text {
		@apply bg-secondary text-white text-18 items-center justify-center text-center flex;

		width: 180px;
		height: 180px;
		padding: 5px;
		border-radius: 50%;
		font-weight: 600;
		line-height: 150%;
		letter-spacing: 0.02em;
		z-index: 3;
		transition: all 0.3s ease;

		&:hover {
			cursor: pointer;
			background: #63c485;
		}

		&:disabled {
			background-color: grey;
		}
	}

	&:hover {
		svg {
			transform: translateX(10px);
		}
	}
	> svg {
		transition: transform 0.3s ease;
		position: absolute;
		right: -35px;
		top: 77px;
	}
}
