.sliderWrapper {
	position: relative;

	.arrowLeft {
		@apply outline-border-none transition-transform absolute cursor-pointer;
		padding: 0;
		left: 200px;
		top: 282px;
		z-index: 3;

		&:hover {
			@apply link-animation;
		}
		&:active {
			transform: scale(0.8);
		}
	}

	.arrowRight {
		@apply outline-border-none transition-transform absolute cursor-pointer;

		right: 200px;
		top: 282px;
		z-index: 3;

		&:hover {
			@apply link-animation;
		}
		&:active {
			transform: scale(0.8);
		}
	}

	.sliderContainer {
		touch-action: pan-y;
		height: 564px;
		position: relative;
		overflow: hidden;
		margin: 0 auto;
		width: 1280px;
		padding: 70px;

		.slidesWrapper {
			transition: all 0.3s ease-in-out;
			position: absolute;
			display: flex;
			gap: 72px;
			width: max-content;
		}
		.isSliding {
			transition: none;
		}
	}
}
