@import '@/assets/styles/media.scss';

.headerWrapper {
	width: 100%;

	.header {
		@apply flex items-center justify-between;

		> svg {
			flex-shrink: 0;
			width: 123px;
			height: 81px;

			@include m-1920 {
				width: 108px;
				height: 71px;
			}

			@include m-1680 {
				width: 100px;
				height: 66px;
			}

			@include m-1366 {
				width: 88px;
				height: 58px;
			}
		}

		.navWrapper {
			> nav {
				display: flex;
				gap: 52px;
				padding: 32px 0;
				font-size: 18px;
				line-height: 150%;
				letter-spacing: 0.02em;

				@include m-1920 {
					gap: 45px;
					padding: 30px 0;
					font-size: 16px;
				}

				@include m-1680 {
					gap: 43px;
					padding: 29px 0;
					font-size: 15px;
				}

				@include m-1366 {
					gap: 37px;
					padding: 25px 0;
					font-size: 13px;
				}

				.default {
					@apply text-dark;

					transition: color 0.4s ease-in;

					&:hover {
						@apply text-secondary;
					}
				}

				.filled {
					@apply text-secondary;
				}

				.buttons {
					display: flex;
					gap: 10px;

					@include m-1920 {
						gap: 9px;
					}

					@include m-1680 {
						gap: 8px;
					}

					@include m-1366 {
						gap: 7px;
					}

					> button {
						@apply uppercase outline-border-none cursor-pointer;

						font-size: inherit;
						padding: 0;
						line-height: 150%;
						letter-spacing: 0.02em;
					}
				}
			}
		}
	}
}

.startAnimation {
	transform: translateY(-100%);
	transition: all 0.3s ease-out;
	opacity: 0;
}
.static {
	position: absolute;
	background: none;
	z-index: 1;
}

.fixed {
	position: fixed;
	background: linear-gradient(64.31deg, #fdf5e6 15.51%, #fdf5e6 50.43%);
	z-index: 110;
	transform: translateY(0);
	opacity: 1;
}
