@import '@/assets/styles/media.scss';

.card {
	@apply flex flex-col p-30 justify-between;

	width: 420px;
	height: 826px;

	@include m-1920 {
		width: 367px;
		height: 734px;
		padding: 26px;
	}

	@include m-1680 {
		width: 340px;
		height: 701px;
		padding: 25px;
	}

	@include m-1366 {
		width: 300px;
		height: 555px;
		padding: 21px;
	}

	background: rgba(255, 255, 255, 0.88);
	backdrop-filter: blur(10px);
	border-radius: 0px 0px 360px 360px;
	white-space: break-spaces;
	user-select: none;

	.cardHeading {
		@apply uppercase text-center;

		letter-spacing: 0.02em;
		line-height: 150%;
		font-size: 24px;

		@include m-1920 {
			font-size: 21px;
		}

		@include m-1680 {
			font-size: 20px;
		}

		@include m-1366 {
			font-size: 17px;
		}

		.tittle {
			@apply text-text;
		}

		.type {
			@apply text-secondary;
		}
	}

	.optionsWrapper {
		@apply flex flex-col;

		gap: 10px;

		@include m-1920 {
			gap: 8px;
		}

		@include m-1680 {
			gap: 7px;
		}

		@include m-1366 {
			gap: 5px;
		}

		> p {
			font-size: 17px;
			line-height: 150%;
			letter-spacing: 0.02em;
			padding-left: 20px;
			position: relative;

			@include m-1920 {
				font-size: 15px;
			}

			@include m-1680 {
				font-size: 14px;
			}

			@include m-1366 {
				font-size: 12px;
			}

			&::before {
				content: '•';
				position: absolute;
				left: 0;
				top: 0;
				font-size: 20px;

				@include m-1920 {
					font-size: 17px;
				}

				@include m-1680 {
					font-size: 16px;
				}

				@include m-1366 {
					font-size: 14px;
				}
			}
		}
	}

	.price {
		@apply text-secondary uppercase text-center text-27;

		line-height: 150%;
		letter-spacing: 0.02em;
		padding-bottom: 32px;

		@include m-1920 {
			font-size: 24px;
		}

		@include m-1680 {
			font-size: 22px;
		}

		@include m-1366 {
			font-size: 19px;
		}
	}
}
