@import '@/assets/styles/media.scss';

.card {
	@apply flex flex-col p-30;

	gap: 32px;
	width: 420px;
	height: 826px;
	@include m-1920 {
		gap: 26px;
		width: 367px;
		height: 734px;
		padding: 26px;
	}

	background: rgba(255, 255, 255, 0.88);
	backdrop-filter: blur(10px);
	border-radius: 0px 0px 360px 360px;
	white-space: break-spaces;
	user-select: none;

	.cardHeading {
		@apply uppercase text-center;

		letter-spacing: 0.02em;
		line-height: 150%;
		font-size: 24px;

		@include m-1920 {
			font-size: 21px;
		}

		.tittle {
			@apply text-text;
		}

		.type {
			@apply text-secondary;
		}
	}

	.optionsWrapper {
		@apply flex flex-col;

		gap: 10px;

		> p {
			font-size: 17px;
			line-height: 150%;
			letter-spacing: 0.02em;
			padding-left: 20px;
			position: relative;

			@include m-1920 {
				font-size: 15px;
			}

			&::before {
				content: '•';
				position: absolute;
				left: 0;
				top: 0;
				font-size: 20px;
			}
		}
	}

	.price {
		@apply text-secondary uppercase text-center text-27;

		line-height: 150%;
		letter-spacing: 0.02em;
		padding-bottom: 32px;
		@include m-1920 {
			font-size: 24px;
		}
	}
}
