@import '@/assets/styles/media.scss';
@import '@/assets/styles/variables.scss';

.programWrapper {
	@apply overflow-x-hidden relative flex;

	gap: $m1920Max;

	@include m-1920 {
		gap: $m1680Max;
	}

	@include m-1680 {
		gap: $m1600Max;
	}

	@include m-1366 {
		gap: $m1366Max;
	}

	.background {
		position: relative;
		margin-top: 91px;
		width: 606px;
		height: 1985px;

		@include m-1920 {
			margin-top: 88px;
			width: 530px;
			height: 1778px;
		}

		@include m-1680 {
			margin-top: 86px;
			width: 505px;
			height: 1673px;
		}

		@include m-1366 {
			margin-top: 69px;
			width: 433px;
			height: 1434px;
		}
	}

	.popup {
		> div {
			padding: 0;
		}
	}

	.contentWrapper {
		@apply flex  flex-col;

		gap: 36px;
		width: 100%;
		padding-top: $m1920Max + 91px;
		max-width: 912px;
		font-size: 18px;
		line-height: 150%;
		letter-spacing: 0.02em;

		@include m-1920 {
			font-size: 16px;
			padding-top: $m1680Max + 88px;
			max-width: 797px;
		}

		@include m-1680 {
			gap: 30px;
			font-size: 15px;
			padding-top: $m1600Max + 86px;
			max-width: 760px;
		}

		@include m-1366 {
			gap: 25px;
			font-size: 13px;
			padding-top: $m1366Max + 69px;
			max-width: 649px;
		}

		.price {
			@apply uppercase text-secondary;

			font-size: 30px;

			@include m-1920 {
				font-size: 26px;
			}

			@include m-1680 {
				font-size: 25px;
			}

			@include m-1366 {
				font-size: 21px;
			}
		}

		.description_list_Wrapper {
			.includedList {
				> li {
					@apply relative;

					padding-left: 15px;

					&::before {
						content: '•';
						position: absolute;
						left: 0;
						top: 0;
						font-size: 20px;

						@include m-1920 {
							font-size: 17px;
						}

						@include m-1680 {
							font-size: 16px;
						}

						@include m-1366 {
							font-size: 14px;
						}
					}
				}
			}
		}
		.radiosSection {
			@apply flex flex-col;

			gap: $m1920Min;

			@include m-1920 {
				gap: $m1680Min;
			}

			@include m-1680 {
				gap: $m1600Min;
			}

			@include m-1366 {
				gap: $m1366Min;
			}

			.radiosBlock {
				@apply flex flex-col;

				gap: 12px;

				@include m-1920 {
					gap: 10px;
				}

				@include m-1366 {
					gap: 8px;
				}

				.answersWrapper {
					display: grid;
					grid-template-columns: repeat(
						4,
						minmax(min-content, max-content)
					);
					gap: 11px 28px;

					@include m-1920 {
						gap: 10px 24px;
					}

					@include m-1680 {
						gap: 10px 22px;
					}

					@include m-1366 {
						gap: 8px 23px;
					}

					.answerLong {
						grid-column: span 2;
					}
				}
			}
		}
		.submitButton {
			margin-top: $m1920Mid - 36px;

			@include m-1920 {
				margin-top: $m1680Mid - 30px;
			}

			@include m-1680 {
				margin-top: $m1600Mid - 30px;
			}

			@include m-1366 {
				margin-top: $m1366Mid - 25px;
			}
		}

		.link {
			margin-top: $m1920Max - 36px;

			@include m-1920 {
				margin-top: $m1680Max - 30px;
			}

			@include m-1680 {
				margin-top: $m1600Max - 30px;
			}
			@include m-1366 {
				margin-top: $m1366Max - 25px;
			}
		}
	}
}

.ellipse_1 {
	background: $ellipseBgCream;
	top: 10%;
	right: -10%;
}
.leaf_1 {
	transform: matrix(-0.64, 0.77, 0.77, 0.64, 0, 0);
	right: -20%;
	bottom: 20%;
}
