@import '@/assets/styles/media.scss';
@import '@/assets/styles/variables.scss';
.form {
	display: grid;
	grid-template-columns: 672px 567px;
	line-height: 150%;
	letter-spacing: 0.02em;

	@include m-1920 {
		grid-template-columns: 590px 501px;
	}

	@include m-1680 {
		grid-template-columns: 560px 474px;
	}

	@include m-1366 {
		grid-template-columns: 476px 405px;
	}

	@include m-834 {
		grid-template-columns: 360px 354px;
	}

	@include m-360 {
		grid-template-columns: 316px;
	}

	.heading {
		@apply text-text uppercase;

		font-size: 30px;

		@include m-1920 {
			font-size: 26px;
		}

		@include m-1680 {
			font-size: 25px;
		}

		@include m-1366 {
			font-size: 21px;
		}
	}

	.inputsWrapper {
		padding: 90px 72px;
		display: grid;
		grid-template-columns: 1fr;
		gap: $m1920Min;

		.mobileSubmit {
			display: none;
		}

		@include m-1920 {
			gap: $m1680Min;
			padding: 79px 64px;
		}

		@include m-1680 {
			gap: $m1600Min;
			padding: 75px 60px;
		}

		@include m-1366 {
			gap: $m1366Min;
			padding: 63px 50px;
		}

		@include m-834 {
			padding: 63px 25px 50px 50px;
		}

		@include m-360 {
			padding: 56px 20px 20px;
			border-radius: 22px 0 22px 22px;
			gap: 20px;

			.mobileSubmit {
				display: flex;
				margin-top: 30px;
			}
		}

		.title {
			font-size: 25px;

			@include m-1920 {
				font-size: 22px;
			}

			@include m-1680 {
				font-size: 21px;
			}

			@include m-1366 {
				font-size: 18px;
			}
		}

		.price {
			@apply text-25 text-secondary;

			@include m-1920 {
				font-size: 22px;
			}

			@include m-1680 {
				font-size: 21px;
			}

			@include m-1366 {
				font-size: 18px;
			}
		}

		.privacy {
			@apply relative;

			padding-left: 15px;
			opacity: 0.5;
			font-size: 16px;
			line-height: 150%;
			letter-spacing: 0.02em;

			@include m-1920 {
				font-size: 14px;
			}

			@include m-1680 {
				font-size: 13px;
			}

			@include m-1366 {
				font-size: 11px;
			}

			@include m-360 {
				display: none;
			}

			&::before {
				@apply absolute;

				top: 5px;
				left: 0;
				font-size: 25px;
				content: '*';

				@include m-1920 {
					font-size: 22px;
				}

				@include m-1680 {
					font-size: 21px;
				}

				@include m-1366 {
					font-size: 18px;
				}
			}
		}
	}

	.checkListWrapper {
		@apply primary-gr;
		display: grid;
		grid-template-columns: 1fr;
		gap: $m1920Min;
		padding: 90px 72px;
		border-radius: 0 0 50px 0;

		.privacyMobile {
			display: none;
			@apply relative;

			padding-left: 11px;
			opacity: 0.5;
			font-size: 11px;
			line-height: 150%;
			letter-spacing: 0.02em;

			&::before {
				@apply absolute;

				top: 5px;
				left: 0;
				font-size: 18px;
				content: '*';
			}
		}

		.buttonMobile {
			align-self: end;
			display: none;
		}

		@include m-1920 {
			gap: $m1680Min;
			padding: 79px 64px;
		}

		@include m-1680 {
			gap: $m1600Min;
			padding: 75px 60px;
		}

		@include m-1366 {
			gap: $m1366Min;
			padding: 63px 50px;
		}

		@include m-834 {
			padding: 63px 50px 50px 25px;
		}

		@include m-360 {
			padding: 56px 20px 20px;
			border-radius: 22px 0 22px 22px;
			gap: 20px;

			.buttonMobile {
				display: flex;
			}

			.privacyMobile {
				display: block;
			}
		}

		.buttonDefault {
			align-self: end;

			@include m-360 {
				display: none;
			}
		}

		.parametersWrapper {
			@apply flex flex-col;
			gap: 16px;
			font-size: 19px;

			@include m-1920 {
				gap: 14px;
				font-size: 17px;
			}

			@include m-1680 {
				gap: 13px;
				font-size: 16px;
			}

			@include m-1366 {
				gap: 11px;
				font-size: 14px;
			}

			.parameter {
				display: grid;
				grid-template-columns: repeat(2, minmax(min-content, 1fr));

				@include m-360 {
					grid-template-columns: 120px minmax(min-content, 1fr);
				}
			}
		}
	}

	.hide {
		@include m-360 {
			display: none;
		}
	}
}
