@import '@/assets/styles/media.scss';
@import '@/assets/styles/variables.scss';

.signForConsultWrapper {
	position: relative;
	overflow: hidden;

	.signForConsult {
		@apply flex justify-between items-center;
		padding-top: $m1920Max;

		@include m-1920 {
			padding-top: $m1680Max;
		}

		@include m-1680 {
			padding-top: $m1600Max;
		}

		.signWrapper {
			@apply flex flex-col;

			gap: $m1920Mid;

			@include m-1920 {
				gap: $m1680Mid;
			}

			@include m-1680 {
				gap: $m1600Mid;
			}
		}
		.imageWrapper {
			@apply relative;

			.outline {
				border: 1px solid #ecb390;
				position: absolute;
				border-radius: 50%;
				left: 5%;
				bottom: 5%;
				width: 561px;
				height: 561px;

				@include m-1920 {
					max-width: 492px;
					height: 492px;
				}
			}

			> img {
				border-radius: 50%;
				max-width: 561px;
				height: 561px;

				@include m-1920 {
					max-width: 492px;
					height: 492px;
				}
			}
		}
	}
}

.ellipse_1 {
	background: $ellipseBgGreen;
	top: 2%;
	right: -5%;
}
