.signForConsultWrapper {
	position: relative;

	.outline {
		border: 1px solid #ecb390;
		position: absolute;
		border-radius: 50%;
		width: 662px;
		height: 662px;
		right: 170px;
		top: -10px;
	}

	> img {
		border-radius: 50%;
		position: absolute;
		right: 200px;
		top: 20px;
	}

	.signForConsult {
		position: relative;
		display: flex;
		margin-top: 108px;

		.signWrapper {
			display: flex;
			flex-flow: column;
			gap: 72px;
		}
	}
}

.leaf {
	transform: matrix(-0.38, -0.93, -0.93, 0.38, 0, 0);
	left: -420px;
	top: -70px;
}
