@import '@/assets/styles/media.scss';

.description {
	max-width: 612px;
	line-height: 150%;
	letter-spacing: 0.02em;
	font-size: 18px;
	white-space: break-spaces;

	@include m-1920 {
		font-size: 16px;
		max-width: 535px;
	}

	@include m-1680 {
		font-size: 15px;
		max-width: 510px;
	}

	@include m-1366 {
		font-size: 13px;
		max-width: 436px;
	}

	@include m-834 {
		max-width: 520px;
	}
}
