.card {
	@apply flex flex-col items-end justify-end relative;
	transition: all 250ms ease-in-out;
	width: 396px;
	height: 564px;
	filter: drop-shadow(3px 5px 6px rgba(143, 63, 9, 0.2));

	transition: all 250ms ease-in-out;

	.cardBlock {
		border-radius: 0 360px 0 0;
		border-left: 0.01px solid #fff;
		border-bottom: 0.01px solid #fff;
		border-right: 0.01px solid #fff;
		height: 432px;
		width: 100%;
		background: #fff;
		position: relative;
		> img {
			bottom: 0;
			position: absolute;
			z-index: -1;
		}

		> svg {
			position: absolute;
			bottom: 36px;
			right: 48px;
			transition: 0.15s ease-in-out;
			&:hover {
				@apply link-animation;
				cursor: pointer;
			}
			&:active {
				transform: scale(1);
			}
		}

		.cardInfo {
			@apply flex flex-col;

			gap: 36px;
			margin-top: 60px;
			margin-left: 30px;
			> span {
				@apply text-secondary uppercase;

				letter-spacing: 0.02em;
				font-size: 30px;
				line-height: 150%;
			}

			> h1 {
				@apply text-text uppercase;

				font-size: 30px;
				line-height: 150%;
				letter-spacing: 0.02em;
			}

			p {
				font-size: 20px;
				line-height: 150%;

				letter-spacing: 0.02em;
			}
		}
	}
}
