@import '@/assets/styles/media.scss';
@import '@/assets/styles/variables.scss';

.card {
	@apply flex flex-col items-end justify-end relative;
	width: 398px;
	height: 564px;
	filter: drop-shadow(3px 5px 6px rgba(143, 63, 9, 0.2));
	user-select: none;
	overflow-wrap: break-word;

	img {
		bottom: 0;
		position: absolute;
		z-index: -1;
	}

	@include m-1920 {
		width: 346px;
		height: 494px;
	}

	@include m-1680 {
		width: 330px;
		height: 468px;
	}

	@include m-1366 {
		width: 282px;
		height: 397px;
		filter: drop-shadow(3px 5px 4px rgba(143, 63, 9, 0.2));
	}

	.cardBlock {
		border-radius: 0 360px 0 0;

		width: 398px;
		height: 432px;
		background: #fff;
		padding: 60px 48px 0 30px;

		@include m-1920 {
			width: 346px;
			height: 378px;
			padding: 52px 42px 0 26px;
		}

		@include m-1680 {
			width: 330px;
			height: 358px;
			padding: 50px 40px 0 25px;
		}

		@include m-1366 {
			width: 282px;
			height: 303px;
			padding: 42px 35px 0 21px;
		}

		@include m-360 {
			padding: 42px 35px 0 19px;
		}

		> svg {
			position: absolute;
			right: 48px;
			bottom: 36px;
			transition: 0.2s ease-in-out;

			@include m-1920 {
				width: 42px;
				height: auto;
				right: 42px;
				bottom: 32px;
			}

			@include m-1680 {
				width: 40px;
				right: 40px;
				bottom: 30px;
			}

			@include m-1366 {
				width: 34px;
				right: 35px;
				bottom: 25px;
			}
		}

		.accessibility {
			@apply text-secondary absolute;

			font-size: 20px;
			left: 30px;
			bottom: 36px;
			line-height: 150%;
			letter-spacing: 0.02em;

			@include m-1920 {
				left: 26px;
				bottom: 32px;
				font-size: 17px;
			}

			@include m-1680 {
				left: 25px;
				bottom: 30px;
				font-size: 16px;
			}

			@include m-1366 {
				left: 21px;
				bottom: 25px;
				font-size: 14px;
			}

			@include m-360 {
				left: 19px;
			}
		}

		.cardInfo {
			@apply flex flex-col;

			gap: $m1920Min;

			@include m-1920 {
				gap: $m1680Min;
			}

			@include m-1680 {
				gap: $m1600Min;
			}

			@include m-1366 {
				gap: $m1366Min;
			}

			> span {
				@apply text-secondary uppercase;

				letter-spacing: 0.02em;
				font-size: 30px;
				line-height: 150%;

				@include m-1920 {
					font-size: 26px;
				}

				@include m-1680 {
					font-size: 25px;
				}

				@include m-1366 {
					font-size: 21px;
				}
			}

			> h1 {
				@apply text-text uppercase;
				font-weight: 500;
				font-size: 30px;
				line-height: 150%;
				letter-spacing: 0.02em;
				max-width: 85%;

				@include m-1920 {
					font-size: 26px;
				}

				@include m-1680 {
					font-size: 25px;
				}

				@include m-1366 {
					font-size: 21px;
				}
			}

			p {
				font-size: 20px;
				line-height: 150%;
				color: #1a0a00;
				letter-spacing: 0.02em;

				@include m-1920 {
					font-size: 17px;
				}

				@include m-1680 {
					font-size: 16px;
				}

				@include m-1366 {
					font-size: 14px;
				}
			}
		}
	}
}

.link {
	transition: transform 0.3s ease-in-out;

	&:hover {
		transform: translateY(-10px);
		svg {
			transform: scale(1.2);
		}
	}
}
