@import '@/assets/styles/media.scss';
@import '@/assets/styles/variables.scss';

.card {
	@apply flex flex-col items-end justify-end relative cursor-pointer;
	width: 398px;
	height: 564px;
	filter: drop-shadow(3px 5px 6px rgba(143, 63, 9, 0.2));
	user-select: none;
	transition: transform 0.3s ease-in-out;

	@include m-1920 {
		width: 346px;
		height: 494px;
	}

	@include m-1680 {
		width: 330px;
		height: 468px;
	}

	@include m-1366 {
		width: 282px;
		height: 397px;
		filter: drop-shadow(3px 5px 4px rgba(143, 63, 9, 0.2));
	}

	&:hover {
		transform: translateY(-10px);
		svg {
			transform: scale(1.2);
		}
	}

	.cardBlock {
		border-radius: 0 360px 0 0;
		border-left: 0.01px solid #fff;
		border-bottom: 0.01px solid #fff;
		border-right: 0.01px solid #fff;
		height: 432px;
		width: 100%;
		background: #fff;

		@include m-1920 {
			height: 378px;
		}

		@include m-1680 {
			height: 358px;
		}

		@include m-1366 {
			height: 303px;
		}

		> img {
			bottom: 0;
			position: absolute;
			z-index: -1;
		}

		> svg {
			position: absolute;
			bottom: 36px;
			right: 48px;
			transition: 0.2s ease-in-out;

			@include m-1920 {
				width: 42px;
				height: auto;
			}

			@include m-1680 {
				width: 40px;
			}

			@include m-1366 {
				width: 34px;
			}
		}

		.cardInfo {
			@apply flex flex-col;

			gap: $m1920Min;
			margin-top: 60px;
			margin-left: 30px;

			@include m-1920 {
				gap: $m1680Min;
			}

			@include m-1680 {
				gap: $m1600Min;
			}

			@include m-1366 {
				gap: $m1366Min;
			}

			> span {
				@apply text-secondary uppercase;

				letter-spacing: 0.02em;
				font-size: 30px;
				line-height: 150%;

				@include m-1920 {
					font-size: 26px;
				}

				@include m-1680 {
					font-size: 25px;
				}

				@include m-1366 {
					font-size: 21px;
				}
			}

			> h1 {
				@apply text-text uppercase;
				font-weight: 500;
				font-size: 30px;
				line-height: 150%;
				letter-spacing: 0.02em;

				@include m-1920 {
					font-size: 26px;
				}

				@include m-1680 {
					font-size: 25px;
				}

				@include m-1366 {
					font-size: 21px;
				}
			}

			p {
				font-size: 20px;
				line-height: 150%;
				color: #1a0a00;
				letter-spacing: 0.02em;

				@include m-1920 {
					font-size: 17px;
				}

				@include m-1680 {
					font-size: 16px;
				}

				@include m-1366 {
					font-size: 14px;
				}
			}
		}
	}
}
