@import '@/assets/styles/media.scss';
@import '@/assets/styles/variables.scss';

.form {
	display: flex;
	flex-flow: column;
	gap: $m1920Min;
	width: 612px;

	@include m-1920 {
		gap: $m1680Min;
		width: 535px;
	}

	@include m-1680 {
		gap: $m1600Min;
		width: 510px;
	}

	> button {
		margin-top: $m1920Min;

		@include m-1920 {
			margin-top: $m1680Min;
		}

		@include m-1680 {
			margin-top: $m1600Min;
		}
	}
}
