@import 'reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import './media.scss';
@import 'variables.scss';

* {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	font-weight: 400;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100vw;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}
img {
	object-fit: cover;
}

button {
	@apply border-none bg-transparent;
}

b,
strong {
	@apply text-text uppercase;
}

.container {
	width: 100%;
	max-width: 1352px;
	margin: 0 auto;
	padding: 0 10px;

	@include m-1920 {
		max-width: 1186px;
	}

	@include m-1680 {
		max-width: 1130px;
	}

	@include m-1366 {
		max-width: 968px;
	}
}

.section {
	padding-bottom: $m1920Max;

	@include m-1920 {
		padding-bottom: $m1680Max;
	}

	@include m-1680 {
		padding-bottom: $m1600Max;
	}

	@include m-1366 {
		padding-bottom: $m1366Max;
	}
}

.admin-container {
	@apply mx-auto bg-gray-300 rounded-lg pb-5;
	width: 1000px;
	min-height: calc(100vh - 20px);
}

.price {
	@apply text-secondary text-27 uppercase;
	letter-spacing: 0.02em;
	line-height: 150%;

	@include m-1920 {
		font-size: 24px;
	}

	@include m-1680 {
		font-size: 22px;
	}

	@include m-1366 {
		font-size: 19px;
	}
}

.hamilton {
	font-weight: 400;
	font-size: 360px;
	line-height: 26px;
	color: rgba(68, 187, 109, 0.15);
	position: absolute;

	@include m-1920 {
		font-size: 315px;
	}

	@include m-1680 {
		font-size: 300px;
	}

	@include m-1366 {
		font-size: 256px;
	}
}

.customFont {
}
