.aboutWrapper {
	@apply relative;
	overflow: hidden;

	.approachWrapper {
		margin-top: 108px;

		.approachTextBlock {
			@apply mt-72 flex;

			gap: 108px;
		}
	}

	.forWhoWrapper {
		@apply flex flex-row-reverse relative;

		width: 1622px;

		.forWhoImageBlock {

			> img {
				border-radius: 50% 0 0 50%;
				transform: matrix(-1, 0, 0, 1, 0, 0);
				position: absolute;
				top: 40px;
				left: 0px;
			}

			.outline {
				position: absolute;
				left: -33px;
				top: 10px;
				width: 852px;
				height: 788px;
				border-radius: 50% 0 0 50%;
				border: 1px solid #ecb390;
				transform: rotate(-180deg);
			}
		}

		.forWhoTextWrapper {
			.forWhoTextBlock {
				@apply mt-72 flex flex-col;

				gap: 39px;
				.wrapperDescription {
					position: relative;
				}
			}
		}
	}

	.bottomSideInfo {
		@apply flex flex-col;

		gap: 108px;

		.notSuitableBlock {
			margin-top: 100px;

			.notSuitableDescriptionWrapper {
				@apply flex mt-72;

				gap: 108px;

				.notSuitableDescription1 {
					position: relative;
					> p {
						left: 73px;
						top: 68px;
					}
				}

				.notSuitableDescription2 {
					position: relative;
					> p {
						left: 130px;
						top: 0;
					}
				}
			}
		}
		.worthBlock {
			@apply flex;

			gap: 108px;

			.worthHeading {
				@apply flex flex-row-reverse;
			}

			.worthDescriptionWrapper {
				@apply flex;

				gap: 108px;

				.worthDescription1 {
					position: relative;

					.emptyBlock {
						min-height: 130.5px;
					}

					> p {
						left: 225px;
						top: 130px;
					}

					.education {
						margin-top: 108px;
					}
				}

				.worthDescription2 {
					position: relative;
					> div {
						margin-top: 72px;
					}
					> p {
						top: 130px;
						right: 3px;
					}

					.reviews {
						margin-top: 108px;
					}
				}
			}
		}
		.actionLinksBlock {
			@apply flex;

			gap: 499px;
		}
	}
}

.leaf_1 {
	right: -435px;
	top: 30px;
	transform: rotate(-61.51deg);
}
.leaf_2 {
	bottom: -110px;
	left: -445px;
	transform: rotate(25.95deg);
}
.ellipse_1 {
	background: rgba(254, 245, 228, 0.35);
	left: 665px;
	top: 10px;
}
.ellipse_2 {
	background: rgba(254, 245, 228, 0.35);
	right: -45px;
	bottom: 500px;
}

.num_1 {
	left: 62.83px;
	top: 10px;
}
.num_2 {
	left: 306px;
	top: 10px;
}

.num_3 {
	left: 127.98px;
	top: 10px;
}

.num_4 {
	left: 416.53px;
	top: 10px;
}

.num_5 {
	left: 59.34px;
	top: 10px;
}

.num_6 {
	left: 299.02px;
	top: 10px;
}

.hamilton {
	font-family: 'mr_HamiltoneG';
	font-weight: 400;
	font-size: 360px;
	line-height: 26px;
	color: rgba(68, 187, 109, 0.15);
	position: absolute;
}
