@import '@/assets/styles/variables.scss';
@import '@/assets/styles/media.scss';

.aboutWrapper {
	@apply relative overflow-x-hidden;

	.approachWrapper {
		padding-top: $m1920Max;

		@include m-1920 {
			padding-top: $m1680Max;
		}

		@include m-1680 {
			padding-top: $m1600Max;
		}

		@include m-1366 {
			padding-top: $m1366Max;
		}

		.approachTextBlock {
			@apply flex justify-between;

			margin-top: $m1920Mid;

			@include m-1920 {
				margin-top: $m1680Mid;
			}

			@include m-1680 {
				margin-top: $m1600Mid;
			}

			@include m-1366 {
				margin-top: $m1366Mid;
			}
		}
	}

	.forWhoWrapper {
		@apply flex justify-between;

		padding-top: $m1920Max;

		@include m-1920 {
			padding-top: $m1680Max;
		}

		@include m-1680 {
			padding-top: $m1600Max;
		}

		@include m-1366 {
			padding-top: $m1366Max;
		}

		.forWhoImageBlock {
			@apply relative;

			> img {
				border-radius: 480px 480px 0px 0px;
				margin-top: 20px;

				@include m-1920 {
					margin-top: 0;
					width: 535px;
					height: 707px;
				}

				@include m-1680 {
					width: 510px;
					height: 672px;
				}

				@include m-1366 {
					width: 436px;
					height: 592px;
				}
			}

			.outline {
				position: absolute;
				bottom: 3.5%;
				right: 4%;
				width: 612px;
				height: 788px;
				border-radius: 480px 480px 0px 0px;
				border: 1px solid #ecb390;

				@include m-1920 {
					width: 535px;
					height: 707px;
				}

				@include m-1680 {
					width: 510px;
					height: 672px;
				}

				@include m-1366 {
					width: 436px;
					height: 592px;
				}
			}
		}

		.forWhoTextWrapper {
			.forWhoTextBlock {
				@apply flex flex-col;

				margin-top: $m1920Mid;
				gap: 39px;

				@include m-1920 {
					margin-top: $m1680Mid;
					gap: 32px;
				}

				@include m-1680 {
					margin-top: $m1600Mid;
					gap: 30px;
				}

				@include m-1366 {
					margin-top: $m1366Mid;
					gap: 28px;
				}
				.wrapperDescription {
					position: relative;
				}
			}
		}
	}

	.bottomSideInfo {
		padding-top: $m1920Max;

		@include m-1920 {
			padding-top: $m1680Max;
		}

		@include m-1680 {
			padding-top: $m1600Max;
		}

		@include m-1366 {
			padding-top: $m1366Max;
		}

		.notSuitableBlock {
			.notSuitableDescriptionWrapper {
				@apply flex justify-between;

				margin-top: $m1920Mid;

				@include m-1920 {
					margin-top: $m1680Mid;
				}

				@include m-1680 {
					margin-top: $m1600Mid;
				}

				@include m-1366 {
					margin-top: $m1366Mid;
				}

				.notSuitableDescription1 {
					position: relative;

					> p {
						left: 73px;
						top: 68px;

						@include m-1366 {
							left: 52px;
							top: 50px;
						}
					}
				}

				.notSuitableDescription2 {
					position: relative;

					> p {
						left: 130px;
						top: 0;
					}
				}
			}
		}
		.worthBlock {
			display: grid;
			grid-template-columns: repeat(2, minmax(min-content, max-content));
			justify-content: space-between;
			gap: $m1920Mid 0;
			padding-top: $m1920Max;

			@include m-1920 {
				gap: $m1680Mid 0;
				padding-top: $m1680Max;
			}

			@include m-1680 {
				gap: $m1600Mid 0;
				padding-top: $m1600Max;
			}

			@include m-1366 {
				gap: $m1366Mid 0;
				padding-top: $m1366Max;
			}

			> h2 {
				grid-column: 2;
			}

			.description1 {
				@apply relative;

				> p {
					left: 34%;
					top: 0;
				}
			}

			.description2 {
				@apply relative;

				> p {
					top: 0;
					right: 3px;
				}
			}
			> a {
				margin-top: 36px;

				@include m-1920 {
					margin-top: 32px;
				}

				@include m-1680 {
					margin-top: 30px;
				}

				@include m-1366 {
					margin-top: 25px;
				}
			}
		}
	}
}

.ellipse_1 {
	background: $ellipseBgCream;
	right: -1%;
	top: 2%;
}
.ellipse_2 {
	background: $ellipseBgCream;
	left: 31%;
	bottom: 4%;
}

.num_1 {
	left: 62.83px;
	top: 10px;

	@include m-1920 {
		left: 55px;
	}

	@include m-1680 {
		left: 52px;
	}

	@include m-1366 {
		left: 45px;
	}
}
.num_2 {
	left: 306px;
	top: 10px;

	@include m-1920 {
		left: 268px;
	}

	@include m-1680 {
		left: 255px;
	}

	@include m-1366 {
		left: 218px;
	}
}

.num_3 {
	left: 128px;
	top: 10px;

	@include m-1920 {
		left: 112px;
	}

	@include m-1680 {
		left: 106px;
	}

	@include m-1366 {
		left: 91px;
	}
}

.num_4 {
	left: 417px;
	top: 10px;

	@include m-1920 {
		left: 364px;
	}

	@include m-1680 {
		left: 347px;
	}

	@include m-1366 {
		left: 296px;
	}
}

.num_5 {
	left: 59px;
	top: 10px;

	@include m-1920 {
		left: 52px;
	}

	@include m-1680 {
		left: 49px;
	}

	@include m-1366 {
		left: 42px;
	}
}

.num_6 {
	left: 299px;
	top: 10px;

	@include m-1920 {
		left: 262px;
	}

	@include m-1680 {
		left: 249px;
	}

	@include m-1366 {
		left: 212px;
	}
}
