@import '@/assets/styles/media.scss';

.buttonsDefault {
	@apply flex absolute justify-between;

	top: 48%;
	right: -4.5%;
	width: 110%;

	@include m-1920 {
		svg {
			width: 21px;
			height: 42px;
		}
	}

	@include m-1680 {
		svg {
			width: 20px;
			height: 40px;
		}
	}

	@include m-1366 {
		svg {
			width: 17px;
			height: 34px;
		}
	}

	.arrowRight,
	.arrowLeft {
		@apply outline-border-none transition-transform  cursor-pointer;

		z-index: 102;

		&:hover:enabled {
			@apply link-animation;
		}
		&:active:enabled {
			transform: scale(0.8);
		}
		&:disabled {
			opacity: 0;
		}
	}
}

.buttonsNarrow {
	@apply flex absolute justify-between;
	top: 48%;
	left: 29%;
	width: 42%;

	@include m-1920 {
		svg {
			width: 21px;
			height: 42px;
		}
	}

	@include m-1680 {
		svg {
			width: 20px;
			height: 40px;
		}
	}

	@include m-1366 {
		svg {
			width: 17px;
			height: 34px;
		}
	}

	.arrowRight,
	.arrowLeft {
		@apply outline-border-none transition-transform  cursor-pointer;

		padding: 0;
		z-index: 102;
		&:hover:enabled {
			@apply link-animation;
		}
		&:active:enabled {
			transform: scale(0.8);
		}
		&:disabled {
			opacity: 0;
		}
	}
}
