@import '@/assets/styles/media.scss';

.buttonsDefault {
	@apply flex absolute justify-between;

	top: 50%;
	right: -4.5%;
	width: 110%;

	.arrowRight,
	.arrowLeft {
		@apply outline-border-none transition-transform  cursor-pointer;

		z-index: 102;

		&:hover:enabled {
			@apply link-animation;
		}
		&:active:enabled {
			transform: scale(0.8);
		}
		&:disabled {
			opacity: 0;
		}
	}
}

.buttonsNarrow {
	@apply flex absolute justify-between;
	top: 50%;
	left: 29%;
	width: 42%;

	.arrowRight,
	.arrowLeft {
		@apply outline-border-none transition-transform  cursor-pointer;

		padding: 0;
		z-index: 102;
		&:hover:enabled {
			@apply link-animation;
		}
		&:active:enabled {
			transform: scale(0.8);
		}
		&:disabled {
			opacity: 0;
		}
	}
}
