.buttonsDefault {
	@apply flex absolute justify-between;

	top: 45%;
	right: -35px;
	width: 1440px;

	.arrowRight,
	.arrowLeft {
		@apply outline-border-none transition-transform  cursor-pointer;

		z-index: 9;

		&:hover:enabled {
			@apply link-animation;
		}
		&:active:enabled {
			transform: scale(0.8);
		}
		&:disabled {
			opacity: 0.5;
		}
	}
}

.buttonsNarrow {
	@apply flex absolute justify-between;
	z-index: 99;
	top: 45%;
	left: 390px;
	width: 546px;

	.arrowRight,
	.arrowLeft {
		@apply outline-border-none transition-transform  cursor-pointer;

		padding: 0;
		z-index: 9;
		&:hover:enabled {
			@apply link-animation;
		}
		&:active:enabled {
			transform: scale(0.8);
		}

		&:disabled {
			opacity: 0.5;
		}
	}
}
