.review {
	@apply mx-5 my-6 border-b border-solid pb-3 flex flex-col;
	gap: 5px;
	.date {
		@apply text-xs;
	}
	.name {
		@apply mt-1 text-2lg;
	}
	.text {
		@apply mt-1;
		line-height: 130%;
		word-break: break-all;
	}

	.btn_wrapper {
		@apply flex gap-5;

		button {
			@apply mt-1;
		}
	}
}
