@import '@/assets/styles/variables.scss';
@import '@/assets/styles/media.scss';

.contactsWrapper {
	@apply relative overflow-hidden;

	.heading {
		padding-top: $m1920Max;

		@include m-1920 {
			padding-top: $m1680Max;
		}

		@include m-1680 {
			padding-top: $m1600Max;
		}

		@include m-1366 {
			padding-top: $m1366Max;
		}

		@include m-360 {
			padding-top: $m360Max;
		}
	}

	.contactsContainer {
		@apply flex justify-between;

		margin-top: $m1920Mid;

		@include m-1920 {
			margin-top: $m1680Mid;
		}

		@include m-1680 {
			margin-top: $m1600Mid;
		}

		@include m-1366 {
			margin-top: $m1366Mid;
		}

		@include m-360 {
			margin-top: $m360Mid;
			flex-direction: column;
		}

		.contacts {
			@apply flex flex-col;

			gap: $m1920Min;

			font-size: 23px;
			line-height: 150%;
			letter-spacing: 0.02em;

			@include m-1920 {
				gap: $m1680Min;
				font-size: 20px;
			}

			@include m-1680 {
				gap: $m1600Min;
				font-size: 19px;
			}

			@include m-1366 {
				gap: $m1366Min;
				font-size: 16px;
			}

			@include m-360 {
				gap: $m360Min;
			}

			.phones {
				@apply flex flex-col;

				gap: 15px;

				@include m-1366 {
					gap: 7px;
				}
			}

			.email {
				@apply text-secondary;
				font-weight: 500;
			}

			.address {
				@apply flex flex-col;

				gap: 15px;

				@include m-1366 {
					gap: 7px;
				}
			}

			.icons {
				@apply flex items-center;

				gap: $m1920Mid;

				svg {
					transition: all 0.2s ease-in-out;
					cursor: pointer;

					&:hover {
						transform: scale(1.2);
						filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));

						~ span {
							opacity: 1;
							visibility: visible;
						}
					}
				}

				a {
					@apply relative cursor-default;

					span {
						font-size: 17px;
						line-height: 150%;
						letter-spacing: 0.02em;
						color: #44bb6d;
						position: absolute;
						bottom: -70%;
						left: -40%;
						visibility: hidden;
						opacity: 0;
						transition: all 0.3s ease-in-out;

						@include m-1920 {
							font-size: 15px;
						}

						@include m-1680 {
							font-size: 14px;
						}

						@include m-1366 {
							font-size: 12px;
						}
					}
				}

				@include m-1920 {
					gap: $m1680Mid;

					svg {
						width: 42px;
						height: 42px;
					}
				}

				@include m-1680 {
					gap: $m1600Mid;

					svg {
						width: 40px;
						height: 40px;
					}
				}

				@include m-1366 {
					gap: $m1366Mid;

					svg {
						width: 34px;
						height: 34px;
					}
				}

				@include m-360 {
					gap: 0;
					justify-content: space-between;
				}
			}
		}

		.avatarWrapper {
			@include m-360 {
				margin-top: 40px;
			}
			.outline {
				@apply flex items-center justify-between;

				width: 600px;
				padding: 30px 80px 30px 30px;
				border-radius: 120px;
				border: 1px solid #ecb390;

				@include m-1920 {
					width: 521px;
					padding: 26px 68px 26px 26px;
				}

				@include m-1680 {
					width: 500px;
					padding: 25px 66px 25px 25px;
				}

				@include m-1366 {
					width: 427px;
					padding: 21px 54px 21px 21px;
				}

				@include m-834 {
					width: 350px;
					padding: 19px 30px 19px 19px;
					margin-top: 20px;
				}

				@include m-360 {
					width: 100%;
					padding: 12px 20px 12px 12px;
					gap: 10px;
				}

				> img {
					border-radius: 50%;

					@include m-1920 {
						width: 158px;
						height: auto;
					}

					@include m-1680 {
						width: 150px;
					}

					@include m-1366 {
						width: 128px;
					}

					@include m-834 {
						width: 100px;
					}
				}

				.nameBlock {
					@apply flex flex-col;

					gap: 24px;

					@include m-1920 {
						gap: 21px;
					}

					@include m-1680 {
						gap: 20px;
					}

					@include m-1366 {
						gap: 24px;
					}

					@include m-834 {
						gap: 11px;
					}

					> h4 {
						@apply text-text uppercase;

						font-size: 20px;

						@include m-1920 {
							font-size: 17px;
						}

						@include m-1680 {
							font-size: 16px;
						}

						@include m-1366 {
							font-size: 14px;
						}

						@include m-360 {
							font-size: 13px;
						}
					}

					> p {
						font-style: italic;
						font-size: 18px;
						line-height: 150%;
						letter-spacing: 0.02em;
						width: 167px;

						@include m-1920 {
							font-size: 16px;
							width: 149px;
						}

						@include m-1680 {
							font-size: 15px;
							width: 139px;
						}

						@include m-1366 {
							font-size: 13px;
							width: 121px;
						}
					}
				}
			}
		}
	}
}

.leaf_1 {
	top: -45%;
	left: -25%;
	transform: rotate(158deg);

	@include m-834 {
		left: -37%;
	}

	@include m-360 {
		top: -25%;
		left: -60%;
	}
}

.leaf_2 {
	transform: matrix(-0.46, 0.89, 0.89, 0.46, 0, 0);
	right: -24%;
	bottom: -16%;

	@include m-834 {
		right: -40%;
	}

	@include m-360 {
		right: -60%;
		bottom: -8%;
	}
}

.ellipse_1 {
	background: $ellipseBgCream;
	bottom: 1%;
	left: 30%;

	@include m-360 {
		bottom: 0;
		top: 1%;
		right: -20%;
	}
}
