@import '@/assets/styles/variables.scss';
@import '@/assets/styles/media.scss';

.contactsWrapper {
	@apply relative overflow-hidden;

	.heading {
		padding-top: $m1920Max;

		@include m-1920 {
			padding-top: $m1680Max;
		}

		@include m-1680 {
			padding-top: $m1600Max;
		}
	}

	.contactsContainer {
		@apply flex justify-between;

		margin-top: $m1920Mid;

		@include m-1920 {
			margin-top: $m1680Mid;
		}

		@include m-1680 {
			margin-top: $m1600Mid;
		}

		.contacts {
			@apply flex flex-col;

			gap: $m1920Min;

			font-size: 23px;
			line-height: 150%;
			letter-spacing: 0.02em;

			@include m-1920 {
				gap: $m1680Min;
				font-size: 20px;
			}

			@include m-1680 {
				gap: $m1600Min;
				font-size: 19px;
			}

			.phones {
				@apply flex flex-col;

				gap: 15px;
			}

			.email {
				@apply text-secondary;
				font-weight: 500;
			}

			.address {
				@apply flex flex-col;

				gap: 15px;
			}

			.icons {
				@apply flex items-center;

				gap: 75px;

				@include m-1920 {
					gap: 67px;
				}

				@include m-1680 {
					gap: 65px;
				}

				svg {
					transition: all 0.2s ease-in-out;

					&:hover {
						transform: scale(1.2);
						filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
					}
				}
			}
		}

		.avatarWrapper {
			.outline {
				@apply flex items-center justify-around;

				width: 600px;
				height: 240px;
				border-radius: 120px;
				border: 1px solid #ecb390;

				@include m-1920 {
					width: 521px;
				}

				@include m-1680 {
					width: 500px;
				}

				> img {
					border-radius: 50%;

					@include m-1920 {
						width: 158px;
						height: auto;
					}

					@include m-1680 {
						width: 150px;
					}
				}

				.nameBlock {
					@apply flex flex-col;

					padding-right: 60px;
					gap: 24px;

					@include m-1920 {
						gap: 21px;
						padding-right: 52px;
					}

					> h4 {
						@apply text-text uppercase;

						font-size: 20px;

						@include m-1920 {
							font-size: 17px;
						}

						@include m-1680 {
							font-size: 16px;
						}
					}

					> p {
						font-style: italic;
						font-size: 18px;
						line-height: 150%;
						letter-spacing: 0.02em;
						width: 167px;

						@include m-1920 {
							font-size: 16px;
							width: 149px;
						}

						@include m-1680 {
							font-size: 15px;
							width: 139px;
						}
					}
				}
			}
		}
	}
}

.leaf_1 {
	top: -45%;
	left: -25%;
	transform: rotate(158deg);
}

.leaf_2 {
	transform: matrix(-0.46, 0.89, 0.89, 0.46, 0, 0);
	right: -24%;
	bottom: -16%;
}

.ellipse_1 {
	background: $ellipseBgCream;
	bottom: 1%;
	left: 30%;
}
