@import '@/assets/styles/media.scss';

.ellipse {
	@apply absolute -z-1;
	width: 600px;
	height: 600px;
	filter: blur(75px);

	@include m-1920 {
		width: 525px;
		height: 525px;
	}

	@include m-1680 {
		width: 500px;
		height: 500px;
	}

	@include m-1366 {
		width: 427px;
		height: 427px;
	}
}
