@import '@/assets/styles/media.scss';
@import '@/assets/styles/variables.scss';

.block {
	padding-bottom: $m1920Max;

	@include m-1920 {
		padding-bottom: $m1680Max;
	}

	@include m-1680 {
		padding-bottom: $m1600Max;
	}

	@include m-1366 {
		padding-bottom: $m1366Max;
	}
}
