@import '@/assets/styles/variables.scss';
@import '@/assets/styles/media.scss';

.mainWrapper {
	@apply main-gr;

	position: relative;
	overflow: hidden;
	z-index: 0;

	.main {
		.fullName {
			margin-top: 178px;
			font-size: 125px;
			letter-spacing: 0.02em;
			line-height: 150%;
			color: #8f3f09;
			margin-bottom: -7px;
			display: flex;
			gap: 20px;

			.name {
				font-family: 'mr_hamiltoneg';
				margin-left: -20px;
				@include m-360 {
					margin-left: 0;
				}
			}

			.lastName {
				font-family: 'mr_hamiltoneg';

				@include m-360 {
					margin-left: auto;
					margin-top: -30px;
				}
			}

			@include m-1920 {
				margin-top: 166px;
				font-size: 109px;
			}

			@include m-1920 {
				margin-top: 162px;
				font-size: 104px;
			}

			@include m-1366 {
				margin-top: 129px;
				font-size: 89px;
			}

			@include m-360 {
				margin-top: 91px;
				flex-direction: column;
				font-size: 70px;
				gap: 0;
				margin-bottom: 4px;
			}
		}

		> h1 {
			@apply text-29 text-text;

			line-height: 150%;
			letter-spacing: 0.02em;

			@include m-1920 {
				@apply text-25;
			}

			@include m-1680 {
				font-size: 24px;
			}

			@include m-1366 {
				font-size: 21px;
			}

			@include m-360 {
				max-width: 280px;
			}
		}

		.contentWrapper {
			@apply flex justify-between;

			.descriptionWrapper {
				.description {
					@apply text-dark;

					margin-top: $m1920Mid;
					font-size: 20px;
					max-width: 565px;

					@include m-1920 {
						margin-top: $m1680Mid;
						font-size: 17px;
						max-width: 494px;
					}

					@include m-1680 {
						margin-top: $m1600Mid;
						font-size: 16px;
						max-width: 468px;
					}

					@include m-1366 {
						margin-top: $m1366Mid;
						font-size: 14px;
						max-width: 402px;
					}

					@include m-834 {
						max-width: 342px;
						white-space: normal;
					}

					@include m-360 {
						margin-top: $m360Mid;
					}
				}

				> a {
					margin-top: $m1920Max;

					@include m-1920 {
						margin-top: $m1680Max;
					}

					@include m-1680 {
						margin-top: $m1600Max;
					}

					@include m-1366 {
						margin-top: $m1366Max;
					}

					@include m-360 {
						margin-top: $m360Max;
					}
				}
			}

			.imageWrapper {
				@apply relative;

				align-self: center;

				.imgMain {
					border-radius: 50%;
					width: 486px;
					height: 486px;

					@include m-1920 {
						width: 425px;
						height: 425px;
					}

					@include m-1680 {
						width: 405px;
						height: 405px;
					}

					@include m-1366 {
						width: 346px;
						height: 346px;
					}

					@include m-834 {
						width: 300px;
						height: 300px;
					}

					@include m-360 {
						display: none;
					}
				}

				.outline {
					position: absolute;
					bottom: 5%;
					right: 5%;
					width: 486px;
					height: 486px;
					border: 1px solid #ecb390;
					border-radius: 50%;

					@include m-1920 {
						width: 425px;
						height: 425px;
					}

					@include m-1680 {
						width: 405px;
						height: 405px;
					}

					@include m-1366 {
						width: 346px;
						height: 346px;
					}

					@include m-834 {
						width: 300px;
						height: 300px;
					}

					@include m-360 {
						display: none;
					}
				}
			}
		}
	}
}

.leaf_1 {
	top: 2%;
	left: -20%;
	transform: matrix(-0.57, -0.82, -0.82, 0.57, 0, 0);

	@include m-834 {
		top: 15%;
		left: -30%;
	}

	@include m-360 {
		top: 42%;
		left: -53%;
	}
}
.leaf_2 {
	top: -40%;
	right: -20%;
	transform: rotate(-91.67deg);

	@include m-834 {
		top: -45%;
		right: -30%;
	}

	@include m-360 {
		top: -13%;
		right: -58%;
	}
}
