@import '@/assets/styles/variables.scss';
@import '@/assets/styles/media.scss';

.mainWrapper {
	@apply main-gr;

	position: relative;
	overflow: hidden;
	z-index: 0;

	.main {
		> h2 {
			margin-top: 178px;
			font-size: 125px;
			letter-spacing: 0.02em;
			line-height: 150%;
			color: #8f3f09;
			margin-left: -20px;
			margin-bottom: -7px;

			@include m-1920 {
				margin-top: 166px;
				font-size: 109px;
			}
		}
		.contentWrapper {
			@apply flex justify-between;

			.descriptionWrapper {
				> h1 {
					@apply text-29 text-text;

					line-height: 150%;
					letter-spacing: 0.02em;

					@include m-1680 {
						@apply text-25;
					}
				}

				.description {
					@apply text-dark;

					margin-top: $m1920Mid;
					font-size: 20px;
					width: 565px;

					@include m-1920 {
						margin-top: $m1680Mid;
						font-size: 17px;
						width: 494px;
					}
					@include m-1680 {
						margin-top: $m1600Mid;
					}
				}

				> a {
					margin-top: $m1920Max;
					@include m-1920 {
						margin-top: $m1680Max;
					}
					@include m-1680 {
						margin-top: $m1600Max;
					}
				}
			}

			.imageWrapper {
				@apply relative;

				.imgMain {
					border-radius: 50%;
					width: 486px;
					height: 486px;

					@include m-1920 {
						width: 425px;
						height: 425px;
					}
				}

				.outline {
					position: absolute;
					bottom: 5%;
					right: 5%;
					width: 486px;
					height: 486px;
					border: 1px solid #ecb390;
					border-radius: 50%;

					@include m-1920 {
						width: 425px;
						height: 425px;
					}
				}
			}
		}
	}
}

.leaf_1 {
	top: 45px;
	left: -385px;
	transform: matrix(-0.57, -0.82, -0.82, 0.57, 0, 0);
}
.leaf_2 {
	top: -460px;
	right: -285px;
	transform: rotate(-91.67deg);
}
