@import '@/assets/styles/variables.scss';

.mainWrapper {
	@apply main-gr;

	position: relative;
	overflow: hidden;
	z-index: 0;

	.main {
		> h2 {
			margin-top: 164px;
			font-size: 125px;
			font-family: 'mr_HamiltoneG';
			letter-spacing: 0.02em;
			line-height: 150%;
			color: #8f3f09;
			margin-left: -20px;
			margin-bottom: -7px;
		}

		> h1 {
			@apply text-29 text-text;

			line-height: 150%;
			letter-spacing: 0.02em;
		}

		.description {
			@apply text-dark;

			margin-top: $paddingMid;

			font-size: 20px;
			width: 565px;
		}

		> a {
			margin-top: $paddingMax;
		}
	}
}

.imgMain {
	position: absolute;
	border-radius: 50%;
	top: 350px;
	right: 290px;
}

.outline {
	position: absolute;
	width: 486px;
	height: 486px;
	border: 1px solid #ecb390;
	border-radius: 50%;
	right: 320px;
	top: 320px;
}

.leaf_1 {
	top: 45px;
	left: -385px;
	transform: matrix(-0.57, -0.82, -0.82, 0.57, 0, 0);
}
.leaf_2 {
	top: -460px;
	right: -285px;
	transform: rotate(-91.67deg);
}
